@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway|Open+Sans|Satisfy&display=swap');

@media(max-width: 1023px) {
    .ja {
        margin-bottom:40vh;
        margin-top: 40vh
    }
}

header{
    font-size: 2.7rem;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    height: 70px;
    background-color: rgb(56, 105, 160);
}
body{
    background-color: antiquewhite;
    font-size: 16px; /* Set a base font size */
}
.name{
    float: left;
}
nav{
    float: right;
    }
nav a{
    color: black;
}
nav a:hover {
        background-color: #555; /* Background color when hovering */
    
}
main{
    
    text-align: center;
    min-height: 100vh;
    padding: 60px 44px 100px;
    box-shadow: 0 0 12px -2px black;
    color: #2e1212;
    font-family: 'Open Sans', sans-serif;
    /* background-color: rgb(39, 103, 155); */
}
h1{
    text-align: center;
    font-family: cursive;
    margin: 50px;
}
h2{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
}
h3{
    text-align: center;
    font-family: cursive;
    margin: 50px;
}

.title h3{
    text-align: center;
    margin: 5;
    padding: 0;
}
.project{
    text-align: center;
}

.portfolio{
    display: grid;
    text-align: center;
    min-height: 100vh;
    padding: 60px 44px 100px;
    box-shadow: 0 0 12px -2px black;
    color: #2e1212;
    font-family: 'Open Sans', sans-serif;
}


.about{
    display: grid;
    text-align: center;
    min-height: 100vh;
    padding: 60px 44px 100px;
    box-shadow: 0 0 12px -2px black;
    color: #2e1212;
    font-family: 'Open Sans', sans-serif;
}